
.axis text {
  font: 10px sans-serif;
}

.axis {
  fill: black;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
  }

.area {
    fill: lightsteelblue;
    stroke-width: 0;
  }

.grid line {
  stroke-opacity: .7;
  stroke: lightgrey;
}

.chart .data-label {
  font: 15px sans-serif;
}


.inc-details {
  border: .5px solid black;
  rx: 8;
  fill: black;

  text {
    font: 15px sans-serif;
  }
}






