
.axis text {
  font: 10px sans-serif;
}

.axis {
  fill: black;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
  }

.area {
    fill: lightsteelblue;
    stroke-width: 0;
  }

.grid line {
  stroke-opacity: .7;
  stroke: lightgrey;
}

.chart .data-label {
  font: 15px sans-serif;
}


.inc-details circle {
    border: .5px solid black;
    opacity: 1;
    fill: white;
}

.inc-details text.entrances {
      font: 18px sans-serif;
      font-weight: bold;
}

.inc-details text.headcount, text.timestamp {
      font: 12px sans-serif;
}

.inc-details rect {
    fill: white;
    stroke: black;
    rx: 3px;
    ry: 3px;

}

polyline {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}

.inc-details .pointer-bottom {
  stroke: white;
  stroke-width: 1.5px;
  stroke-dasharray: initial;
}

.inc-details line {
  stroke: black;
  stroke-width: 1.5px;
  stroke-dasharray: 3 3;
}








